@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

/*Container*/

.container {
    width: 1280px;
    margin: 0 auto;
}

/*NAV*/
.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-menu-item {
    padding: 25px 72px 25px 0;
}

.nav-menu-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #ff0000;
    cursor: pointer;
    text-decoration: none;
}

/*main img*/
.main-img {
    display: block;
}

/*Title*/

.section-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 3.3px;
    color: #373737;
    margin-block-start: 48px;
    margin-block-end: 38px;
}

.section-info {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;
    text-align: center;
    padding: 0 68px 28px 68px;
    font-weight: 400;
}

/*Button*/
.btn {
    cursor: pointer;
    display: block;
    margin: 38px auto 42px;
    padding: 18px 40px;
    background: #ff0000;
    border-radius: 4px;
    border: none;
    color: #ffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    letter-spacing: 1.8px;
}


/*Footer*/
.footer {
    margin: 40px 0 29px 0;
}

.footer-copyright {
    display: block;
    text-align: right;
    font-weight: 700;
    line-height: 20px;
    padding-right: 105px;
    align-items: center;
    letter-spacing: 2.4px;
    margin-bottom: 30px;
}

