@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@400;700&display=swap');

* {
    font-family: 'M PLUS 1', sans-serif;
    font-size: 25px;
}

a {
    text-decoration: none;
}

.wrapper {
    overflow: hidden;
    background: #F8F9F8;
}

.header {
    background-image: url("../img/bc-image.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    padding: 26px 0 27px 72px;

}

.header-logo img {
    width: 150px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-menu-item {
    display: inline-flex;
    margin-right: 32px;
}

.nav-menu-link {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.btn {
    padding: 12px 24px;
    color: white;
    border: 1px solid white;
    font-size: 16px;
}

.name {
    position: relative;
    height: 700px;
    width: 700px;
}

.name2 {
    width: 100px;
    height: 100px;
    background-color: #3181A6;
    position: absolute;

    right: 0;
    left: 0;
    top: 10px;
    bottom: 30px;

}

.name3 {
    width: 100px;
    height: 100px;
    background-color: #ff0000;
}

.name4 {
    width: 100px;
    height: 100px;
    background-color: #634F2C;
}