@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


/*Container*/
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: white;
    height: 100%;
}

a {
    color: #FFFFFF;
}

.wrapper {
    background-color: #372213;
    background-image: url("../img/wrapper-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1028px;
    margin: 0 auto;
}

/*NAV*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nav-logo {
    margin: 51px 0 22px 0;
}

.nav-logo-link {
    display: flex;
}

/*nav-logo-img*/
.nav-logo-img {
    margin: 0 8px 0 0;
}

.nav-logo-img-orange {
    display: none;
}

.nav-logo-link:hover .nav-logo-img-main {
    display: none;
}

.nav-logo-link:hover .nav-logo-img-orange {
    display: inline;
}

/*nav-logo-title*/
.nav-logo-title {
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
}

.nav-logo-link:hover .nav-logo-title {
    color: #F26522;
}

.nav-logo-title-small {
    font-size: 18px;
}

/*nav-contacts*/
.nav-contacts {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 46px 0 17px 0;
}

.nav-email {
    margin-bottom: 19px;
}

.nav-email:hover {
    color: #F26522;
    transition-duration: 0.5s;
}

.nav-phone:hover {
    color: #F26522;
    transition-duration: 0.5s;
}

/*Main*/
.main {
    flex: 1 1 auto;
}

/*cards-items*/
.cards-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 48px 0;
}

.cards-item {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 309px;
    height: 261px;
    margin: 0 0 37px 0;
}

.cards-item:nth-child(1n+4) {
    margin: 0;
}

.cards-item:hover > .card-item-pop-up {
    visibility: visible;
    opacity: 1;
}

.card-item-link {
    margin: 0 auto;
    background: linear-gradient(to right, black, white);
}

.card-item-image {
    width: 300px;
    height: 220px;
}

.card-item-pop-up {
    background-color: #F26522;
    padding: 7px 14px 12px 16px;
    position: absolute;
    bottom: 14%;
    left: 1%;
    width: 98%;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.8s linear;
}

.card-item-price-start {
    font-size: 10px;
    line-height: 10px;
    margin-bottom: 8px;
}

.card-item-pop-up-info {
    display: flex;
    justify-content: space-between;
}

.card-item-details {
    font-size: 14px;
    line-height: 14px;
}

.card-item-details:hover {
    transform: scale(1.1);
}

.card-item-details::after {
    content: ">";
    margin-left: 16px;
}

.card-item-name {
    margin: 20px auto 0 auto;
}

.cards-item:hover > .card-item-name {
    color: #F26522;
    transition-duration: 0.5s;
}

/*Footer*/
.copyright {
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    padding: 0 0 15px 0;
}