/*.content > p {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: grey;*/
/*}*/

/*.content::before {*/
/*    display: block;*/
/*    content: "before";*/
/*    background-color: pink;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

/*.content::after {*/
/*    display: block;*/
/*    content: "after";*/
/*    background-color: yellow;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/
/*.test {*/
/*    background-color: #f0f0f0;*/
/*    width: 300px;*/
/*    height: 150px;*/
/*}*/

/*.test::before {*/
/*    display: block;*/
/*    content: "before";*/
/*    background-color: pink;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

/*.test::after {*/
/*    display: block;*/
/*    content: "after";*/
/*    background-color: yellow;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

/*.content {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    background-color: #3181A6;*/
/*}*/
/*ul {*/
/*    position: relative;*/
/*    width: 500px;*/
/*    height: 500px;*/
/*    background: #3181A6;*/
/*}*/

/*li {*/
/*    margin-left: 100px;*/
/*    margin-top: 10px;*/
/*    text-decoration: none;*/
/*    list-style: none;*/
/*}*/

/*li::before {*/
/*    display: inline-block;*/
/*    content: "";*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    left: 50px;*/
/*    position: absolute;*/
/*    background-image: url("../img/cheked.png");*/
/*    background-size: 20px 20px;*/
/*    background-repeat: no-repeat;*/
/*}*/

img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 100px 0 0 200px;
}

img::before {
    width: 100px;
    height: 100px;
    content: '';
    background-image: url("../img/danger1.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;

}